.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.torefresh {
  text-align: center;
  padding-top: 50px;
}

.btn {
  font-size: 50px;
  font-family: 'lobster', cursive;
  background-color: #4ECCA3;
  border-radius: 100px;
  color: #4B8673;
}

a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: #ab1103;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #5FD068;
  border-radius: 100px;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}
